@import '../../styles/tokens/all';

.passForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include desktop-view{
    width: 50%;
  }

  label {
    font-size: $font--lg;
    font-weight: bold;
  }

  input {
    font-size: $font--md;
    padding: $space--xs;
    width: 100%;
    margin: $space--xs 0;
    border-radius: $space--xs;
  }

  button {
    font-size: $font--md;
    padding: $space--xs;
    width: 100%;
    margin: $space--xs 0;
    border-radius: $space--xs;
    background: $color-brown;
    color:$color-white;
    font-weight: bold;
  }

  &__error {
    color:red;
  }
}