@import '../../styles/tokens/all';

.quest2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include desktop-view {
    width: 70%;
    margin: auto;
  }
}
