@import "../../styles/tokens/all";

.quest2 {
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__question {
    text-align: center;
    font-size: $font--xxl;
    margin: $space--sm 0;
  }

  &__inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: $space--xs 0;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-size: $font--lg;
    }
    input {
      padding: $space--xs;
      border-radius: $space--xs;
      width: 20px;
      height: 20px;
    }

    button {
      background: $primary-color;
      border-radius: $space--xs;
      padding: $space--xs;
      color: $color-white;
      font-size: $font--lg;
      margin: $space--xs 0;
      border: none;
    }
  }

  &__error {
    text-align: center;
    margin: $space--xs 0;
    color: red;
  }
}
