@import '../../styles/tokens/all';

.navbar {
  width: 100%;
  padding: $space--xxs $space--xs;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 36px;
    font-weight: bold;
    color:$color-white;
    font-style: italic;
  }

  &__openGuidelineBtn {
    background: none;
    border: none;
    color:$color-white;
    font-size: 24px;
    padding: $space--xs 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    div {
      font-size: $font--lg;
      font-weight: bold;
      margin-left: $space--xs;
    }
  }

  &__guideline {
    background: url('/images/background.jpg');
    padding: $space--sm;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    

    &__head {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include desktop-view {
        width: 50%;
        margin: auto;
      }

      &__logo {
        background: $color-white;
        border-radius: $space--sm;
        padding: $space--sm;
        font-size: $font--xxxl;
        font-weight: bold;
        font-style: italic;
        margin: $space--sm 0;
      }

      &__menu {
        width: 100%;
        padding: $space--sm 0;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        border-bottom: 1px solid $color-black;

        

        &__backBtn {
          background: none;
          border: none;
          text-align: left;
          font-size: $font--xl;
        }

        &__title {
          text-align: center;
          font-weight: bold;
          font-size: $font--xxxl;
        }

        &__closeBtn {
          background: none;
          border: none;
          text-align: right;
          font-weight: bold;
        }
      }
    }

    &__body {
      padding: $space--xs;
    }

    &__list {
      display: flex;
      flex-direction: column;
      @include desktop-view {
        width: 50%;
        margin: auto;
      }
      button {
        padding: $space--sm $space--xs;
        border-radius: $space--xs;
        margin: $space--xs 0;
        font-size: $space--lg;
        background: $color-brown;
        color:$color-white;
        border: none;
        font-weight: bold;
      }
    }

    &__welcome, &__schedule, &__about, &__tips, &__winning {
      line-height: 1.5;
      @include desktop-view {
        width: 50%;
        margin: auto;
        font-size: $font--lg;
      }

      h3 {
        text-align: center;
      }
      th, td {
        border: 1px solid $color-black;
        padding: $space--xxs;
      }
    }
  }
}
