@import "./tokens/all";

* {
  box-sizing: border-box;
}

html,
body {
  background: url('../public/images/background.jpg');
  padding: 0;
  margin: 0;
  font-family: Ubuntu;

  a {
    color: blue;
  }
}

.container {
  padding: $space--xs;
  margin: auto;
  @include desktop-view {
    width: 1024px;
  }
}
